h1 {
    margin: auto;
    align-self: center;
    text-align: center;
    position: relative;
    margin-top: 20px;
    font-size: 40px;
    color: rgb(212, 198, 198);
}

body {
    background-color: rgb(32, 65, 95);
}

.calculator {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    position: relative;
    top: 30%;
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 2px; 
    max-width: 480px; 
}

.display {
    margin-top: 3ch;
    position: relative;
    top: 30%;
    margin-bottom: 5px;
    height: 65px;
    text-align: right;
    overflow: auto;
    text-overflow: ellipsis;
    font-size: 50px;
    width: 480px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    background-color: rgb(230, 230, 230);
    color: rgb(63, 60, 60);
}

button {
    border: 1px solid rgba(0 , 0 ,0);
    color: white;
    font-size: 30px;
    background: black;
}

button:hover {
    background-color: white;
    color: black;
}

.operator {
    background-color: rgb(65, 61, 61)
}

.clear {
    width: 240px;
    left: 13px;
}

.equal {
    background-color: red;
    position: relative;
    width: 250px;
    left: 115px;
}

.equal:hover {
    background-color: red;
}